<div class='container'>
  <h1>Products</h1>
    <%= link_to 'New Product', new_product_path %>
      <div class='row'>
        <% @products.each_slice(4) do |row| %>
          <% row.each do |product| %>
            <div class='col-md-3 mt-3'>
              <div class='card text-light'>
                  <%= product.name %>
                  <%= product.description %>
                  <%= product.price %>
                  <%= link_to 'Show', product %>
                  <%= link_to 'Edit', edit_product_path(product) %>
                  <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <%= link_to 'Comprar', product_orders_path(product),class: 'btn btn-success', method: :post %>

              </div>
            </div>
          <% end %>
           <div class='w-100'> </div>
        <%end%>
        </div>
      </div>