<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <a class="navbar-brand" href="<%= products_path %>">Yapo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarColor01">
    <a class="nav-link" href='<%= orders_path %>'> Carro de compras</a>

      <ul class="nav navbar-nav navbar-right">
      <div class="btnleft">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <% if user_signed_in? %>
              <%= current_user.email %>
            <% else %> 
              Access
            <% end %>
          <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% if user_signed_in? %>
              <li><a href="<%= destroy_user_session_path(current_user)%>" data-method="DELETE">Salir</a></li>
            <% else %>
              <li><a href="<%= new_user_session_path %>">Ingresar</a></li>
              <li><a href="<%= new_user_registration_path %>">Registrar</a></li>
            <% end %>
          </ul>
        </li>
        </div>
      </ul>
    </div>
</nav>